.navbar{
    background-color: #000a12 !important;
}
.nav-link{
    color: aliceblue !important;
    font-size: 20px;
    padding: 10px !important;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .active{
    background-color: rgb(30, 30, 105);
    color: white;
    border-radius: 10px;
}
.nav-link:hover{
    background-color: rgb(30, 30, 105);
    color: white;
    border-radius: 10px;
}
.list-group-item:hover{
    background-color: black;
    color: whitesmoke;
    /* font-size: larger; */

}
.center{
    margin: auto;
}
.list-group{
    text-align: left;   
}
.modal-body,.modal-header,.modal-footer{
    background-color: whitesmoke


}
.list-group-item{
    background-color: #e8eaf6;
    color: black;
    font-size: 20px;
    font-family: cursive;    
}
.modal-title{
    text-align: center;
    font-size: 30px;
    color: #38006b;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3px;
}
.card{
    margin-top: 10px;
    border: 1px;
    background-color: #e0e0e0;
}
.card-btn{
    margin-left: 60px;
    border: 0px;
    background-color: firebrick;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-text{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-btn:hover{
    background-color: whitesmoke;
    color: black;
}
.image-text{
        font-size: 60px;
        color: #e2f1f8;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.form-control{
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.328);
    width: 300px;
}
.form-group{
    margin-top: 20px;
}
label{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}
.btn-contact:hover{
    background-color: whitesmoke;
    color: black;
}
.card-heading{
    color: maroon;
}
.card-text{
    color: rgb(21, 21, 51);
}